Lat:
<input id="lat" name="lat" val="44.0521" />Long:
<input id="long" name="long" val="-123.0868" />
<br />
<br />
<div id="map_canvas" style="width: 500px; height: 250px;"></div>





<link rel="stylesheet" type="text/css" href="/static/css/map.css"
   media="screen"/> 
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script> 

#<script async defer
#src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkUOdZ5y7hMm0yrcCQoCvLwzdM6M8s5qk&libraries=places&callback=initMap">
#</script>


<script type="text/javascript">

var map;
var marker;


function initialize() {
  var myLatlng = new google.maps.LatLng(44.0521, -123.0868);

  var myOptions = {
    zoom: 8,
    center: myLatlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

  marker = new google.maps.Marker({
    draggable: true,
    position: myLatlng,
    map: map,
    title: "Your location"
  });

  

  google.maps.event.addListener(marker, 'dragend', function(event) {


    document.getElementById("lat").value = event.latLng.lat();
    document.getElementById("long").value = event.latLng.lng();
  });

  google.maps.event.addListener(map, 'click', function(event) {

    marker = new google.maps.Marker({
    draggable: false,
    position: myLatlng,
    map: map,
    title: "Your location"
  });
    document.getElementById("lat").value = event.latLng.lat();
    document.getElementById("long").value = event.latLng.lng();
    marker.setPosition(event.latLng);
  });


  
//start jinja

{% for item in g.poi %}
    {% for k, v1 in item.items() %}
        var name = {{ k|tojson }}
        var latlng = {{ v1|tojson }}
        var lat = latlng[0];
        var long = latlng[1];
        var location = new google.maps.LatLng(lat, long);
        placeMarker(location, map, name);
    {% endfor %}
  {% endfor %}

//end the jinja loop
//replace LatLng(44.045392,-123.06683) from thing in the g variable and title replace from dict
//top src async defer and if google api matters. Look at piazza
//nosetests and secret key
//don't need to use geocode if have map set to eugene right. Reverse geocode or format address? piazza
//var marker instead of placeMarker?
//infowindow
}




google.maps.event.addDomListener(window, "load", initialize());


</script>

</div>
</body> </html>
