Lat:
<input id="lat" name="lat" val="44.0521" />Long:
<input id="long" name="long" val="-123.0868" />
<br />
<br />
<div id="map_canvas" style="width: 500px; height: 250px;"></div>



<!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

<link rel="stylesheet" type="text/css" href="/static/css/map.css"
   media="screen"/> 


<script 
src="https://maps.googleapis.com/maps/api/js?key={{g.api_key}}">
</script>

<script type="text/javascript">

$(document).ready(function() {
initialize()});

var map;


function initialize() {
  var myLatlng = new google.maps.LatLng(44.0521, -123.0868);



  var myOptions = {
    zoom: 8,
    center: myLatlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);


  };

function dropPin(location, map, name){

var marker = new google.maps.Marker
    marker = new google.maps.Marker({
    draggable: true,
    position: location,
    map: map,
    title: "Your location"
});

var infowindow = new google.maps.InfoWindow({
    content: name
});

google.maps.event.addListener(map, 'click', function(event) {

  marker = new google.maps.Marker({
  draggable: false,
  position: myLatlng,
  map: map,
  title: "Your location"
});
  document.getElementById("lat").value = event.latLng.lat();
  document.getElementById("long").value = event.latLng.lng();
  marker.setPosition(event.latLng);
});

marker.addlistener('click', function() {
	infowindow.open(map, marker);
});

  
//start jinja

{% for item in g.poi %}
    {% for k, v1 in item.items() %}
        var name = {{ k|tojson }}
        var latlng = {{ v1|tojson }}
        var lat = latlng[0];
        var long = latlng[1];
        var location = new google.maps.LatLng(lat, long);
        dropPin(location, map, name);
    {% endfor %}
  {% endfor %}

//end the jinja loop
//replace LatLng(44.045392,-123.06683) from thing in the g variable and title replace from dict
//top src async defer and if google api matters. Look at piazza
//nosetests and secret key
//don't need to use geocode if have map set to eugene right. Reverse geocode or format address? piazza
//var marker instead of placeMarker?
//infowindow
}







</script>

</div>
</body> </html>
