

<br />
<br />
<div id="map_canvas" style="width: 100%; height: 100%;"></div>



<!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

<link rel="stylesheet" type="text/css" href="/static/css/map.css"
   media="screen"/> 


<script 
src="https://maps.googleapis.com/maps/api/js?key={{g.api_key}}">
</script>

<script type="text/javascript">

$(document).ready(function() {
initialize()});

var map;


function initialize() {
  var myLatlng = new google.maps.LatLng(44.0521, -123.0868);


  var myOptions = {
    zoom: 14,
    center: myLatlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
  if (navigator.geolocation) {  
	//If geolocation is supported by browser/device
        navigator.geolocation.getCurrentPosition(function(position){
        current_pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
        dropPin(current_pos, map, "You are here ");
    });
  }
	
{% for item in g.poi %}
    {% for k, v1 in item.items() %}
        var name = {{ k|tojson }}
        var latlng = {{ v1|tojson }}
        var lat = latlng[0];
        var long = latlng[1];
        var location = new google.maps.LatLng(lat, long);
        dropPin(location, map, name);
    {% endfor %}
  {% endfor %}

}



function dropPin(location, map, name){


    var marker = new google.maps.Marker({
    draggable: true,
    position: location,
    map: map,
    title: "Your location"
});

var infowindow = new google.maps.InfoWindow({
    content: name
});


google.maps.event.addListener(marker, 'click', function() {
	infowindow.open(map, marker);
});

}
  



</script>

</div>
</body> </html>
